body {
  padding-top: 80px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.starter-template h1 {
  font-size: 63px;
}
.divider {
	width: 5px;
	height: auto;
	display: inline-block;
}
select option:first-child {
	color: grey; 
	display: none;
}
select option {
	color: #555;
} 
fieldset {
	width:500px;
}
.rfi-form {
	width:700px;
	margin:0 auto;
	border: thin solid #B2B2B2;
}
.rfi-form legend{
	padding:10px 10px;
}
.rfi-form fieldset {
	padding: 10px 10px;
}
#rfi-submit-button {
	padding:10px 10px;
}
.pp{
}  
#pf{
}
#pt{
}
#pf form{
}
#pt {
    margin-top:20px;
}
.tab-content{
    margin-top:20px;
}
#new-project-form{
    margin-left:15px;
}
#daily-report-form{
     padding:20px;
}
.alert {
    margin: 8px;
}
#rfiModal .modal-content {
    width: 800px; 
/*    margin-top: -300px !important;*/
/*    margin-left:  -350px !important; */
}
#rfiModal .modal-body {
/*    max-height: 525px;*/
}
.dashboard-panel {
    width:200px;
    height:200px;
}
.dashboard {
    margin:auto;
    width:80%;
    padding:20px;
}
/* shadowing */
