body {
  padding-top: 80px;
  padding-bottom: 100px;
}
.container {
    margin: auto;
    width: 100%;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.starter-template h1 {
  font-size: 63px;
}
select option:first-child {
	color: grey; 
	display: none;
}
select option {
	color: #555;
} 
fieldset {
	width:500px;
}
.tab-content{
    margin-top:20px;
}
#new-project-form{
    margin-left:15px;
}
#daily-report-form{
     padding:20px;
}
.alert {
    margin: 8px;
}
#rfiModal .modal-content {
    width: 800px; 
/*    margin-top: -300px !important;*/
/*    margin-left:  -350px !important; */
}
#rfiModal .modal-body {
/*    max-height: 525px;*/
}
.dashboard-panel {
    width:200px;
/*    height:200px;*/
}
.dashboard-panel:hover {
    background-color: #D4D4D4;
}
.inner-container {
    margin:auto;
    width:80%;
    padding:20px;
}
.modal-daily {
    /* new custom width */
    width: 800px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    margin-left: -100px;
}
.glyphicon {
    font-size:100px; 
    margin-left:30px;
}
.glyphicon:hover {
    cursor: pointer;
}
