<div class="container">
    <form ng-submit="saveNewEmployee()" class="form-inline">
        <div class="form-group">
            <label class="sr-only" for="empFirstName">Employee First Name</label>
            <input ng-model="newEmployee.firstName" type="text" class="form-control" id="empFirstName" placeholder="First Name"/>
        </div>
        <div class="form-group">
            <label class="sr-only" for="empLastName">Employee Last Name</label>
            <input ng-model="newEmployee.lastName" type="text" class="form-control" id="empLastName" placeholder="Last Name"/>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
