<div class="container">
    <div class="inner-container">
        <ol class="breadcrumb">
          <li><a href="#/projects">Project</a></li>
          <li><a ng-click="goToDashboard()" href="">Dashboard</a></li>
          <li class="active">Employees</li>
        </ol>
        <h3>Employees</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Phone</th>
                    <th>Trade</th>
                    <th>Action</th>
                    <th></th>
                </tr>
            </thead>
            <tr ng-repeat="employee in employees | orderByPriority">
                <td>{{ employee.firstName }}</td>
                <td>{{ employee.lastName }}</td>
                <td>{{ employee.phone }}</td>
                <td>{{ employee.trade }}</td>
                <td>
                    <button ng-click="editEmployee(employee)" type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Edit</button>
                </td>
                <td>
                    <button ng-click="deleteEmployee(employee)" type="button" class="btn btn-danger">Delete</button>
                </td>
            </tr>
            <tr>
        <!--        TODO: Form Validation-->
                <form>
                    <td>
                        <input type="text" ng-model="newEmployee.firstName" class="form-control" placeholder="First Name"/>    
                    </td>
                    <td>
                        <input ng-model="newEmployee.lastName" type="text" class="form-control" placeholder="Last Name" required/>
                    </td>
                    <td>
                        <input ng-model="newEmployee.phone" type="tel" class="form-control" placeholder="Phone Number"/>
                    </td>
                    <td>
                        <input ng-model="newEmployee.trade" type="text" class="form-control" placeholder="Trade"/>
                    </td>
                    <td>
                        <button ng-click="saveNewEmployee()" type="submit" class="btn btn-success">Add</button>
                    </td>
                    <td>
                        <button ng-click="clearNewEmployee()" type="button" class="btn btn-default">Clear</button>
                    </td>
                </form>
            </tr>
        </table>
        <div ng-controller="AlertsController">
            <alert-custom alert-object="alerts"></alert-custom>
        </div>
    </div>
</div>

<!--Modal code-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Edit Employee</h4>
      </div>
      <div class="modal-body">
        <div class="container">
            <form class="form-horizontal">
              <div class="row">
                  <div class="form-group col-md-4">
                    <input type="text" ng-model="employeeTemp.firstName" class="form-control" placeholder="First Name"/>
                  </div>
              </div>
              <div class="row">
                  <div class="form-group col-md-4">
                    <input type="text" ng-model="employeeTemp.lastName" class="form-control" placeholder="Last Name"/>
                  </div>
              </div>
              <div class="row">
                  <div class="form-group col-md-4">
                    <input type="tel" ng-model="employeeTemp.phone" class="form-control" placeholder="Phone"/>
                  </div>
              </div>
              <div class="row">
                  <div class="form-group col-md-4">
                    <input type="text" ng-model="employeeTemp.trade" class="form-control" placeholder="Trade"/>
                  </div>
              </div>
            </form>
        </div>
      </div>
      <div class="modal-footer">
        <div>
            <button ng-click="updateEmployee()" type="submit" class="btn btn-primary" data-dismiss="modal">Save</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
        </div>
      </div>
    </div>
  </div>
</div>


