<h3>Employees</h3>
<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Rate</th>
            <th>Action</th>
        </tr>
    </thead>
    <tr ng-repeat="employee in employees | orderByPriority">
        <td>{{ employee.firstName }}</td>
        <td>{{ employee.lastName }}</td>
        <td>{{ employee.phone }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.rate }}</td>
        <td>
            <button ng-click="editEmployee(employee)" type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Edit</button>
            <button ng-click="employees.$remove(employee.$id)" type="submit" class="btn btn-danger">Delete</button>
        </td>
    </tr>
</table>
<button type="button" class="btn btn-default">
    <span class="glyphicon glyphicon-plus"><a href="#/add_employee" style="text-decoration:none; color:black;"> Employee</a></span>
</button>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Edit Employee</h4>
      </div>
      <div class="modal-body">
        <div class="container">
            <form class="form-horizontal">
              <div class="row">
                  <div class="form-group col-md-4">
                    <input type="text" ng-model="employee.firstName" class="form-control"/>
                  </div>
              </div>
              <div class="row">
                  <div class="form-group col-md-4">
                    <input type="text" ng-model="employee.lastName" class="form-control"/>
                  </div>
              </div>
              <div class="row">
                  <div class="form-group col-md-4">
                    <input type="text" ng-model="employee.phone" class="form-control"/>
                  </div>
              </div>
              <div class="row">
                  <div class="form-group col-md-4">
                    <input type="text" ng-model="employee.email" class="form-control"/>
                  </div>
              </div>
              <div class="row">
                  <div class="form-group col-md-4">
                    <input type="text" ng-model="employee.rate" class="form-control"/>
                  </div>
              </div>
            </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button ng-click="updateEmployee(employee)" type="submit" class="btn btn-primary">Save</button>
      </div>
      <alert-custom></alert-custom>
    </div>
  </div>
</div>


