<div class="container">
    <div class="dashboard">
        <ol class="breadcrumb">
          <li><a href="@("/#/projects/"+projectId)">Projects</a></li>
          <li class="active">Dashboard</li>
        </ol>
<!--        <h3 style="margin-bottom:50px;">Project Dashboard</h3>-->
        <div class="row">    
            <div class="col-md-3">
                <div class="panel panel-default dashboard-panel">
                  <div class="panel-heading">
                    <h3 class="panel-title">RFI</h3>
                  </div>
                  <div class="panel-body">
                    RFI content...
                  </div>
                  <div class="panel-footer">
                    <button ng-click="selectRfis(projectId)" type="button" class="btn btn-primary btn-sm">Go</button> 
<!--                    <a href="@("/#/rfi_list/"+projectId)" class="btn btn-primary btn-sm" role="button">Go</a>-->
                  </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default dashboard-panel">
                  <div class="panel-heading">
                    <h3 class="panel-title">Daily Report</h3>
                  </div>
                  <div class="panel-body">
                    Daily Report content...
                  </div>
                  <div class="panel-footer">
                    <button ng-click="selectDailyReport(projectId)" type="button" class="btn btn-primary btn-sm">Go</button>  
                  </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default dashboard-panel">
                  <div class="panel-heading">
                    <h3 class="panel-title">Timesheet</h3>  
                  </div>
                  <div class="panel-body">
                    Timesheet content...
                  </div>
                  <div class="panel-footer">
                    <button type="button" class="btn btn-primary btn-sm">Go</button>  
                  </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default dashboard-panel">
                  <div class="panel-heading">
                    <h3 class="panel-title">Employees</h3>  
                  </div>
                  <div class="panel-body">
                    Employees content...
                  </div>
                  <div class="panel-footer">
                    <button ng-click="selectEmployees(projectId)" type="button" class="btn btn-primary btn-sm">Go</button>  
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>

