<div class="container">
    <div class="inner-container">
        <ol class="breadcrumb">
          <li><a href="#/projects">Projects</a></li>
          <li class="active">Dashboard</li>
        </ol>
        <div class="row" style="margin-top:50px;">    
            <div class="col-md-3">
                <div class="panel panel-default dashboard-panel">
                  <div class="panel-heading">
                    <h3 class="panel-title">RFI</h3>
                  </div>
                  <div class="panel-body">
                    <span ng-click="selectRfis(projectId)" class="glyphicon glyphicon-wrench dashboard-glyph" aria-hidden="true"></span>
                  </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default dashboard-panel">
                  <div class="panel-heading">
                    <h3 class="panel-title">Daily Report</h3>
                  </div>
                  <div class="panel-body">
                    <span ng-click="selectDailyReport(projectId)" class="glyphicon glyphicon-folder-open dashboard-glyph" aria-hidden="true"></span>
                  </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default dashboard-panel">
                  <div class="panel-heading">
                    <h3 class="panel-title">Timesheet</h3>  
                  </div>
                  <div class="panel-body">
                    <span ng-click="selectTimesheet(projectId)" class="glyphicon glyphicon-calendar dashboard-glyph" aria-hidden="true"></span>
                  </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default dashboard-panel">
                  <div class="panel-heading">
                    <h3 class="panel-title">Employees</h3>  
                  </div>
                  <div class="panel-body">
                    <span ng-click="selectEmployees(projectId)" class="glyphicon glyphicon-user dashboard-glyph" aria-hidden="true"></span>
                  </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default dashboard-panel">
                  <div class="panel-heading">
                    <h3 class="panel-title">Tasks</h3>  
                  </div>
                  <div class="panel-body">
                    <span ng-click="selectTasks(projectId)" class="glyphicon glyphicon-tasks dashboard-glyph" aria-hidden="true"></span>
                  </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default dashboard-panel">
                  <div class="panel-heading">
                    <h3 class="panel-title">Timeline</h3>  
                  </div>
                  <div class="panel-body">
                    <span ng-click="selectTimeline(projectId)" class="glyphicon glyphicon-tasks dashboard-glyph" aria-hidden="true"></span>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>

