<div class="container">

  <div class="starter-template">
    <h1>BuildEasy</h1>
    <p class="lead">The smart construction management app</p>
    <a href="/#/register" class="btn btn-primary btn-lg" role="button">Get started now!</a>
    <a href="/#/login" class="btn btn-primary btn-lg" role="button"> Log in</a>
  </div>
	<div class="row">
	  <div class="col-md-4">
	  	<h2>Ditch the clipboard</h2>
	  	<p>Use our simple app to manage your construction projects from your PC, tablet, or phone</p>
	  </div>
	  <div class="col-md-4">
	  	<h2>Embrace the cloud</h2>
	  	<p>No need to worry about forgetting documents. Everything is stored in the cloud</p>
	  </div>
	  <div class="col-md-4">
	  	<h2>Automate everything</h2>
	  	<p>Send emails and text messages directly from the app</p>
	  </div>
	</div>
</div><!-- /.container -->