<form ng-submit="changePassword()" class="form-signin">
	<h2 class="form-signin-heading">Reset Password</h2>
	<label for="inputEmail" class="sr-only">Email address</label>
	<input ng-model="userDetails.email" type="email" id="inputEmail" class="form-control" placeholder="Email address" autocomplete="new-email" required autofocus>
	<label for="inputOldPassword" class="sr-only">Old Password</label>
	<input ng-model="userDetails.oldPassword" type="password" id="inputOldPassword" class="form-control" placeholder="Old Password" autocomplete="new-password" required>
    <label for="inputNewPassword" class="sr-only">New Password</label>
	<input ng-model="userDetails.newPassword" type="password" id="inputNewPassword" class="form-control" placeholder="New Password" autocomplete="new-password" required>
	<button class="btn btn-lg btn-primary btn-block" type="submit">Reset</button>
</form>
<div ng-controller="AlertsController">
    <alert-custom alert-object="alerts"></alert-custom>
</div>
