<div class="container">
    <form ng-submit="saveRfi()" class="form-horizontal" role="form" name="rfiForm">
        <div class="row">
            <h2 style="padding-bottom:20px;">Request For Information</h2>
        </div>
        <div class="row">
            <div class="form-group col-md-3">
                <label class="sr-only" for="date">Date</label>
                <input ng-model="newRfi.date" type="date" class="form-control" id="date" placeholder="Date"/>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3">
                <label class="sr-only" for="project">Project</label>
                <input ng-model="newRfi.project" name="project" type="text" class="form-control" id="project" placeholder="Project"/>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3">
                <label class="sr-only" for="to">To</label>
                <input ng-model="newRfi.to" type="text" class="form-control" id="to" placeholder="To"/>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3">
                <label class="sr-only" for="requestedBy">Requested By</label>
                <input ng-model="newRfi.requestedBy" type="text" class="form-control" id="requestedBy" placeholder="Requested By"/>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3">
                <label class="sr-only" for="subject">Subject</label>
                <input ng-model="newRfi.subject" type="text" class="form-control" id="subject" placeholder="Subject"/>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3">
                <label class="sr-only" for="contractorQuestion">Contractor Question</label>
                <input ng-model="newRfi.contractorQuestion" type="text" class="form-control" id="contractorQuestion" placeholder="Contractor Question"/>
            </div>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button ng-click="clearNewRfi()" type="button" class="btn btn-default">Clear</button>
        </div>
    </form>
</div>
