<div class="container">
    <h2>Request for Information</h2>
    <div class="panel panel-default" ng-repeat="rfi in requestForInformation track by $index">
      <div class="panel-heading clearfix">
        <h3 class="panel-title">RFI #: {{ rfi.rfiNumber }} {{ rfi.date | date:'fullDate' }}
        <div class="pull-right">
            <button ng-click="editRfi(rfi)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#rfiModal">Edit</button>
            <button ng-click="submitRfi(rfi)"type="button" class="btn btn-primary">Send</button>
            <button ng-click="deleteRfi(rfi)" type="button" class="btn btn-danger">Delete</button>  
        </div>
        </h3>  
      </div>
      <div class="panel-body">{{ rfi.subject }}</div>
    </div>
    <div ng-hide="requestForInformation.length">
        <p>No RFIs...</p>
        <button ng-click="goToRfiPage()" type="button" class="btn btn-primary">Add</button>
    </div>
</div>
{{ $scope.projectId }}

<!--Modal Code-->
<div class="modal fade" id="rfiModal" tabindex="-1" role="dialog" aria-lebelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Edit RFI #: {{ rfiTemp.rfiNumber }}</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form class="form-horizontal">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-3">
                                    <label class="sr-only" for="to">To</label>
                                    <input ng-model="rfiTemp.to" type="email" class="form-control" id="to" placeholder="To (email address)"/>
                                </div>
                                <div class="col-md-3 col-md-offset-2">
                                    <label class="sr-only" for="date">Date</label>
                                    <input ng-model="rfiTemp.date" type="date" class="form-control" id="date" placeholder="Date"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-3">
                                    <label class="sr-only" for="cc">CC</label>
                                    <input ng-model="rfiTemp.cc" type="email" class="form-control" id="cc" placeholder="CC (email address)"/>
                                </div>
                                <div class="col-md-3 col-md-offset-2">
                                    <label class="sr-only" for="project">Project</label>
                                    <input ng-model="rfiTemp.project" type="text" class="form-control" id="project" placeholder="Project"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-3">
                                    <label class="sr-only" for="requestedBy">Requested By</label>
                                    <input ng-model="rfiTemp.requestedBy" type="text" class="form-control" id="requestedBy" placeholder="Requested By"/>
                                </div>
                                <div class="col-md-3 col-md-offset-2">
                                    <label class="sr-only" for="subject">Subject</label>
                                    <input ng-model="rfiTemp.subject" type="text" class="form-control" id="subject" placeholder="Subject"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-8">
                                    <label class="sr-only" for="contractorQuestion">Contractor Question</label>
                                    <textarea ng-model="rfiTemp.contractorQuestion" class="form-control" rows="5" id="contractorQuestion" placeholder="Contractor Question"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-8">
                                    <label class="sr-only" for="contractorSuggestion">Contractor Suggestion</label>
                                    <textarea ng-model="rfiTemp.contractorSuggestion" class="form-control" rows="5" id="contractorSuggestion" placeholder="Contractor Suggestion"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-3">
                                    Is the above a change?
                                    <label><input ng-model="rfiTemp.isChange" type="radio" name="isChange" value="Yes"/> Yes</label>
                                    <label><input ng-model="rfiTemp.isChange" type="radio" name="isChange" value="No"/> No</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <div>
                    <button ng-click="updateRfi()" type="submit" class="btn btn-primary" data-dismiss="modal">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
                </div>  
            </div>
        </div>
    </div>
</div>