<div class="container">
    <div class="inner-container">
        <ol class="breadcrumb">
          <li><a href="#/projects">Project</a></li>
          <li><a href="" ng-click="goToDashboard()">Dashboard</a></li>
          <li class="active">Rfi</li>
        </ol>
        <h2>Request for Information
                    <button ng-click="goToRfi()" type="button" class="btn btn-link">Add</button>
</h2>
        
        <div class="panel panel-default" ng-repeat="($id, rfi) in requestForInformation track by $index | orderBy: 'date'">
          <div class="panel-heading clearfix">
            <h3 class="panel-title">RFI #: {{ rfi.rfiNumber }} {{ rfi.date | date:'fullDate' }}
            <div class="pull-right">
                <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" id="rfiDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
<!--                    Actions-->
                    <span class="glyphicon glyphicon-th-list"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="rfiDropdown">
                    <li><a href="" ng-click="editRfi($id, rfi)" data-toggle="modal" data-target="#rfiModal">Edit</a></li>
                    <li><a href="" ng-click="requestForInformation.$remove($id)">Delete</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="" ng-click="submitRfi(rfi)">Email</a></li>
                    <li><a href="" ng-click="openAsPdf(rfi)">PDF</a></li>
                    <li><a href="" ng-click="downloadPdf(rfi)">Download</a></li>
                    <li><a href="" ng-click="printPdf(rfi)">Print</a></li>
                  </ul>
                </div>
<!--
                <button ng-click="editRfi($id, rfi)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#rfiModal">Edit</button>
                <button ng-click="requestForInformation.$remove(rfi.$id)" type="button" class="btn btn-danger">Delete</button> 
                <button ng-click="submitRfi(rfi)" type="button" class="btn btn-link">Email</button> 
                <button ng-click="openAsPdf(rfi)" type="button" class="btn btn-link">PDF</button>
                <button ng-click="" type="button" class="btn btn-link">Open</button>
                <button ng-click="" type="button" class="btn btn-link">Print</button>
-->
            </div>
            </h3>  
          </div>
          <div class="panel-body">{{ rfi.subject }}</div>
        </div>
<!--
        <div>
            <button ng-click="goToRfi()" type="button" class="btn btn-link">Add</button>
        </div>
-->
    </div>
</div>

<!--Modal Code-->
<div class="modal fade" id="rfiModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-rfi">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Edit RFI #: {{ rfiTemp.rfiNumber }}</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form class="form-horizontal">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-3">
                                    <label class="sr-only" for="to">To</label>
                                    <input ng-model="rfiTemp.to" type="email" class="form-control" id="to" placeholder="To (email address)"/>
                                </div>
                                <div class="col-md-3 col-md-offset-2">
                                    <label class="sr-only" for="date">Date</label>
                                    <input ng-model="rfiTemp.date" type="date" class="form-control" id="date" placeholder="Date"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-3">
                                    <label class="sr-only" for="cc">CC</label>
                                    <input ng-model="rfiTemp.cc" type="email" class="form-control" id="cc" placeholder="CC (email address)"/>
                                </div>
                                <div class="col-md-3 col-md-offset-2">
                                    <label class="sr-only" for="project">Project</label>
                                    <input ng-model="rfiTemp.project" type="text" class="form-control" id="project" placeholder="Project"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-3">
                                    <label class="sr-only" for="requestedBy">Requested By</label>
                                    <input ng-model="rfiTemp.requestedBy" type="text" class="form-control" id="requestedBy" placeholder="Requested By"/>
                                </div>
                                <div class="col-md-3 col-md-offset-2">
                                    <label class="sr-only" for="jobNumber">Job Number</label>
                                    <input ng-model="rfiTemp.jobNumber" type="text" class="form-control" id="jobNumber" placeholder="Job Number"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-8"> 
                                    <label class="sr-only" for="subject">Subject</label>
                                    <input ng-model="rfiTemp.subject" type="text" class="form-control" id="subject" placeholder="Subject"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-8">
                                    <label class="sr-only" for="contractorQuestion">Contractor Question</label>
                                    <textarea ng-model="rfiTemp.contractorQuestion" class="form-control" rows="5" id="contractorQuestion" placeholder="Contractor Question"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-8">
                                    <label class="sr-only" for="contractorSuggestion">Contractor Suggestion</label>
                                    <textarea ng-model="rfiTemp.contractorSuggestion" class="form-control" rows="5" id="contractorSuggestion" placeholder="Contractor Suggestion"/>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <div>
                    <button ng-click="updateRfi()" type="submit" class="btn btn-primary" data-dismiss="modal">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
                </div>  
            </div>
        </div>
    </div>
</div>