<div class="container">
    <div class="inner-container">
        <ol class="breadcrumb">
          <li><a href="#/projects">Projects</a></li>
          <li><a href="" ng-click="goToDashboard()">Dashboard</a></li>
          <li class="active">Tasks</li>
        </ol>
<!--        <h3>Task List</h3>-->
        <div class="input-group col-md-3 col-md-offset-4">
           <input ng-model="taskList.task" type="text" class="form-control" id="task" placeholder="New Task">
           <span class="input-group-btn">
                <button ng-click="saveTask()" class="btn btn-default" type="button">Add</button>
           </span>
        </div>
        <ul ng-repeat="($id, task) in taskList" class="list-group" style="width:300px; margin-top:20px">
          <li class="list-group-item">{{ task.task }}</li>
        </ul> 
        <p>entered: {{ taskList }}</p>
        <p>saved: {{ projectTasks }}</p>
    </div>
</div>
