<div class="container">
    <div class="inner-container">
        <ol class="breadcrumb">
            <li><a href="#/projects">Projects</a></li>
            <li><a href="" ng-click="goToDashboard()">Dashboard</a></li>
            <li class="active">Timesheet</li>
        </ol>
        <h2>Time Sheet
        <button ng-click="goToTimesheet()" type="button" class="btn btn-link">Add</button></h2>
        <div class="panel panel-default" ng-repeat="($id, timesheet) in timesheets track by $index">
          <div class="panel-body">
            <a href="" ng-click="editTimesheet($id)" data-toggle="modal" data-target="#timesheetModal">Week Ending {{ $id }}</a>
          </div>
        </div>
<!--        Timesheet: {{ timesheetTemp }}-->
    </div>
</div>

<!--Modal Code-->
<div class="modal fade" id="timesheetModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-timesheet">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Edit Timesheet</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                  <form ng-submit="saveNewTimesheet()">
                    <table class="table table-striped">
                        <thead>
                            <tr align="center">
                                <th colspan="4">Name</th>
                                <th colspan="2">Saturday</th>
                                <th colspan="2">Sunday</th>
                                <th colspan="2">Monday</th>
                                <th colspan="2">Tuesday</th>
                                <th colspan="2">Wednesday</th>
                                <th colspan="2">Thursday</th>
                                <th colspan="2">Friday</th>
                            </tr>
                            <tr align="center">
                                <th>First</th>
                                <th>Last</th>
                                <th colspan="2">&nbsp</th>
                                <th>Hrs</th>
                                <th>Job</th>
                                <th>Hrs</th>
                                <th>Job</th>
                                <th>Hrs</th>
                                <th>Job</th>
                                <th>Hrs</th>
                                <th>Job</th>
                                <th>Hrs</th>
                                <th>Job</th>
                                <th>Hrs</th>
                                <th>Job</th>
                                <th>Hrs</th>
                                <th>Job</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="timesheet in timesheetTemp.employeeTimesheet">
                                <td></td>
                                <td></td>
                                <td>&nbsp</td>
                                <td>&nbsp</td>
                                <td><input ng-model="employeeTimesheet[$id].timesheet.saturday.hours" type="text" size="2" name="hours"/></td>
                                <td><input ng-model="employeeTimesheet[$id].timesheet.saturday.job" type="text" size="2" name="job"/></td>
                                <td><input ng-model="employeeTimesheet[$id].timesheet.sunday.hours" type="text" size="2" name="hours"/> </td>
                                <td><input ng-model="employeeTimesheet[$id].timesheet.sunday.job" type="text" size="2" name="job"/>   </td>
                                <td><input ng-model="employeeTimesheet[$id].timesheet.monday.hours" type="text" size="2" name="hours"/> </td>
                                <td><input ng-model="employeeTimesheet[$id].timesheet.monday.job" type="text" size="2" name="job"/>   </td>
                                <td><input ng-model="employeeTimesheet[$id].timesheet.tuesday.hours" type="text" size="2" name="hours"/> </td>
                                <td><input ng-model="employeeTimesheet[$id].timesheet.tuesday.job" type="text" size="2" name="job"/>   </td>
                                <td><input ng-model="employeeTimesheet[$id].timesheet.wednesday.hours" type="text" size="2" name="hours"/> </td>
                                <td><input ng-model="employeeTimesheet[$id].timesheet.wednesday.job" type="text" size="2" name="job"/>   </td>
                                <td><input ng-model="employeeTimesheet[$id].timesheet.thursday.hours" type="text" size="2" name="hours"/> </td>
                                <td><input ng-model="employeeTimesheet[$id].timesheet.thursday.job" type="text" size="2" name="job"/>   </td>
                                <td><input ng-model="employeeTimesheet[$id].timesheet.friday.hours" type="text" size="2" name="hours"/> </td>
                                <td><input ng-model="employeeTimesheet[$id].timesheet.friday.job" type="text" size="2" name="job"/>   </td>
                            </tr>
                        </tbody>
                    </table>
                </form>  
                </div>
            </div>
            <div class="modal-footer">
                <div>
                    <button ng-click="updateRfi()" type="submit" class="btn btn-primary" data-dismiss="modal">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
                </div>  
            </div>
        </div>
    </div>
</div>