<div class="container">
    <div class="inner-container">
        <ol class="breadcrumb">
            <li><a href="#/projects">Project</a></li>
            <li><a href="" ng-click="goToDashboard()">Dashboard</a></li>
            <li class="active">Timesheet</li>
        </ol>
        <h2>Time Sheet
        <button ng-click="goToTimesheet()" type="button" class="btn btn-link">Add</button></h2>
<!--
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="">Profile</a></li>
            <li role="presentation"><a href="">Messages</a></li>
        </ul>
-->
    </div>
</div>