
        <ol class="breadcrumb">
          <li><a href="#/projects">Projects</a></li>
          <li><a href="" ng-click="goToDashboard()">Dashboard</a></li>
          <li class="active">Timeline</li>
        </ol>
        <h2>Project Timeline</h2>
        <div class="row timeline-form">
            <form class="form-inline" ng-submit="saveNewTask()" id="timeline-form-form">
                <div class="row">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="newTask[0].tasks[0].name" placeholder="Task">
                        <input ng-model="newTask[0].tasks[0].from" type="text" class="form-control" placeholder="Start Date" onfocus="(this.type='date')" onblur="(this.type='text')">
                        <input ng-model="newTask[0].tasks[0].to" type="text" class="form-control" placeholder="End Date" onfocus="(this.type='date')" onblur="(this.type='text')">
                        <button type="submit" class="btn btn-primary">Add</button>
                        <button type="reset" class="btn btn-default">Clear</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-md-4">
                <table class="table table-bordered">
                    <thead>
                        <th>Task</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="task in projectTimelineTasks">
                            <td>{{ task[0].tasks[0].name }}</td>
                            <td>{{ task[0].tasks[0].from }}</td>
                            <td>{{ task[0].tasks[0].to }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>  
            <div class="col-md-8">
                <div gantt data=data></div>
            </div>
        </div>
        My format:</br>
{{ projectTimelineTasks }}</br>
Correct format:</br>
{{ data }}
<!--
        <div ng-repeat="(key, value) in projectTimelineTasks">
            {{key}} => {{value}}
        </div>
-->
      