
        <ol class="breadcrumb">
          <li><a href="#/projects">Projects</a></li>
          <li><a href="" ng-click="goToDashboard()">Dashboard</a></li>
          <li class="active">Timeline</li>
        </ol>
        <h2>Project Timeline</h2>
        <div class="container timeline-form">
            <form class="form-inline" ng-submit="saveNewTask()" id="timeline-form-form">
                <div class="row">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="newTask.taskName" placeholder="Task">
                        <input ng-model="newTask.startDate" type="text" class="form-control" placeholder="Start Date" onfocus="(this.type='date')" onblur="(this.type='text')">
                        <input ng-model="newTask.endDate" type="text" class="form-control" placeholder="End Date" onfocus="(this.type='date')" onblur="(this.type='text')">
                        <button type="submit" class="btn btn-primary">Add</button>
                        <button type="reset" class="btn btn-default">Clear</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-md-4">
                <table class="table table-bordered">
                    <thead>
                        <th>Task</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="task in timelineTasks">
                            <td>{{ task.taskName }}</td>
                            <td>{{ task.startDate }}</td>
                            <td>{{ task.endDate }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>  
            <div class="col-md-8">
                <div gantt data=data></div>
            </div>
        </div>